/nbproject/private/
.idea/encodings.xml
./idea/*
nbproject/project.xml

nbproject/project.properties

.idea/.name

.idea/misc.xml

.idea/deployment.xml

.idea/modules.xml

.idea/muscledb.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.sql

.vagrant/machines/default/virtualbox/synced_folders

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/id

.vagrant/machines/default/virtualbox/index_uuid
