/nbproject/private/
.idea/encodings.xml
./idea/*
nbproject/project.xml

nbproject/project.properties

.idea/.name

.idea/misc.xml

.idea/deployment.xml

.idea/modules.xml

.idea/muscledb.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.sql
