language: csharp

matrix:
  include:
    - os: linux # Ubuntu 14.04
      dist: trusty
      sudo: required
      dotnet: 1.0.0-preview2-003121

script:
 - cd MuscleWeb
 - dotnet restore
 - dotnet publish
 - ssh bp@fettenajs.com
 - ls
 - exit