/*
 * custom.css
 * Contains custom css, i.e., not Skeleton CSS
 */

 /*
 Force scrollbar
 https://stackoverflow.com/questions/12582555/always-show-browser-scrollbar-to-prevent-page-jumping
 */
 html {
   overflow-y: scroll;
 }

div#mainContainer {
  text-align: center;
}

td#muscleResultItem {
  height: 3 8px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.8em;
}

td#muscleResultItem:hover {
  /*border:1px solid #33C3F0;*/
  border:1px solid #333;
  border-radius: 0px;
  /*color: #33C3F0;*/
}

td#muscleResultItem a {
  color: #000;
  text-decoration: none;
}

td#muscleResultItem a:hover {
  color: #33C3F0;
}

div#main.container {
  /*width: 300px; !!*/
  text-align: center;
}

input#searchterm {
  width: 100%;
}

table#muscleResults {
  width: 100%;
}

tbody#tbodynosearchterm {
  height: 3 8px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.8em;
}

div#header {
  background-color: red;
  text-align: right;
  /*width: 100%;*/
}

/*
Centered navigation
https://matthewjamestaylor.com/css-centred-menus
*/

nav {
  float:left;
  width:100%;
  background:#333;
  overflow:hidden;
  position:relative;
}

nav ul {
  clear:left;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  left:50%;
  text-align:center;
}

nav ul li {
  display:block;
  float:left;
  list-style:none;
  margin: 0;
  padding:0;
  position:relative;
  right:50%;
}

nav ul li a {
  display:block;
  margin:0 0 0 0px;
  padding: 16px;
  background:#333;
  text-decoration:none;
  /* line-height:1.3em; */
  color: #FFF;
}

nav ul li a:hover {
  background:#444;
  color: #33C3F0;
}
nav ul li a.active,
nav ul li a.active:hover {
  background:#000;
  font-weight:bold;
}

input#searchterm:focus {
  border-color: #333;
}

div#grouplist {
  text-align: left;
}

div#grouplist ul {
  list-style: none;
}

ul[id^="ml"] {
  list-style: square;
}