/*
 * custom.css
 * Contains custom css, i.e., not Skeleton CSS
 */

td#muscleResultItem {
  height: 3 8px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.8em;
}

td#muscleResultItem:hover {
  /*border:1px solid #33C3F0;*/
  border:1px solid #333;
  border-radius: 0px;
  /*color: #33C3F0;*/
}

td#muscleResultItem a {
  color: #000;
  text-decoration: none;
}

td#muscleResultItem a:hover {
  color: #33C3F0;
}

div#main.container {
  /*width: 300px; !!*/
  text-align: center;
}

input#searchterm {
  width: 100%;
}

table#muscleResults {
  width: 100%;
}

tbody#tbodynosearchterm {
  height: 3 8px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.8em;
}

div#header {
  background-color: red;
  text-align: right;
  /*width: 100%;*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 40 0 0;
    overflow: hidden;
    background-color: #333333;
}

nav ul li {
    float: right;
}

nav ul li:hover {
  background-color: #444444;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

input#searchterm:focus {
  border-color: #333;
}

div#grouplist {
  text-align: left;
}

div#grouplist ul {
  list-style: none;
}

ul[id^="ml"] {
  list-style: square;
}